<h1>UAVDOCX</h1>

<table id="tabla">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Talles</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prenda of prendas">
      <td>{{ prenda.id }}</td>
      <td>{{ prenda.nombre }}</td>
      <td>{{ prenda.precio }}</td>
      <td>{{ prenda.talles | json }}</td>
      <td>{{ prenda.categoria }}</td>
      <td>
        <button class="opciones" id="editar" (click)="editarPrenda(prenda)">Editar</button>
        <button class="opciones" id="borrar" (click)="eliminarPrenda(prenda.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>


<div *ngIf="prendaEditando">
  <h2>Editar Prenda</h2>
  <input type="text" [(ngModel)]="prendaEditando.nombre" placeholder="Nombre">
  <input type="text" [(ngModel)]="prendaEditando.precio" placeholder="Precio">
  <div *ngFor="let talle of ['S', 'M', 'L', 'XL']">
    <label>{{ talle }}:</label>
    <input type="number" [(ngModel)]="prendaEditando.talles[talle]" name="edit_talle_{{talle}}">
  </div>
  <select [(ngModel)]="prendaEditando.categoria">
  <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
  </select>
  <button (click)="guardarCambios()">Guardar Cambios</button>
  <button (click)="prendaEditando = null">Cancelar</button>
</div>

<button id="agregar"(click)="toggleFormulario()">Agregar Prenda</button>

<div *ngIf="mostrarFormulario">
  <h2>Agregar Nueva Prenda</h2>
  <input type="text" [(ngModel)]="prendaNueva.nombre" placeholder="Nombre">
  <input type="text" [(ngModel)]="prendaNueva.precio" placeholder="Precio">
  <input type="text" [(ngModel)]="prendaNueva.talles" placeholder="Talles">
  <input type="text" [(ngModel)]="prendaNueva.categoria" placeholder="Categoria">
  <button id="crear" (click)="crearPrenda()">Guardar</button>
</div>

<button routerLink="/sesion">Ir a sesion</button>
